/node_modules
/public/hot
/public/upload/
/public/declaracao_banca/
/storage/*.key
/vendor
/routes/web-producao.php
.env
.env-producao
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
git-lab-deposito-fcf
git-lab-deposito-fcf.pub